* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #090c14;
    display: grid;
    place-items: center;
}
.calculadora {
    background-color: grey;
    color: white;
    display: grid;
    gap: .2rem;
    border-radius: .8rem;
    /*sirve para ubicar la cantidad de columnas y darle forma*/
    grid-template-columns: repeat(4,1fr);
    width: 300px;
    padding: 1.5rem;
}
.pantalla {
    background-color: #090c14 ;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    grid-column: 1 / 5;
    text-align: right;
    margin-bottom: 1rem;
    font-family: monospace;
}
.btn {
    background-color: grey;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}
.btn:hover {
    background-color: #090c14;
    cursor: pointer;
    border-radius: 0.5rem;
}
/*Le damos color al signo igual*/
#igual {
    grid-row: span 2;
    background-color: pink;
    border-radius: 0.5rem;

}
